@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to [Your Primary School's Name]!</h1>
    <p class="lead">We are dedicated to providing a nurturing environment where every child can thrive and learn.</p>
    <hr class="my-4">
    <p>Explore our site to find out more about our programs, events, and latest news.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Announcements</h2>
        <ul class="list-group">
            <li class="list-group-item">Parent-Teacher Conferences on June 25th</li>
            <li class="list-group-item">School Closed on July 4th for Independence Day</li>
            <li class="list-group-item">New After-School Program Starts in September</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Upcoming Events</h2>
        <ul class="list-group">
            <li class="list-group-item">Field Trip to the Zoo - June 20th</li>
            <li class="list-group-item">Summer Reading Program - Starts July 1st</li>
            <li class="list-group-item">Back-to-School Night - August 15th</li>
        </ul>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h2>Latest News</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Playground Equipment Installed</h5>
                <p class="card-text">We are excited to announce the installation of new playground equipment. The students are already enjoying the new swings and climbing structures.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
</div>
